.icon {
    width: 100%;
    height: 100%;
}

.modal-content {
    width: 100% !important;
    height: 100% !important;
}

.modal-title {
    text-align: center;
    width: 100%;
    color: aliceblue !important;

}

.modal-header {
    background: #f05454;
}

.btn-close {
    color: aliceblue !important;
}

.message-text {
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
    color: #2D2D2D;
    display: inline-block;
    font-size: 15px;
    max-width: 100%;
    border-radius: 5px;
    overflow: hidden;
    padding: 10px;
    background-color: rgb(246, 246, 246);
}

.message-option {
    color: #f05454;
    border: 1px solid lightblue;
    border-radius: 5px !important;
    overflow: hidden;
    max-width: 100%;

    &:hover {
        color: white !important;
        background-color: #f3b4b4 !important;
    }
}

.Selectoption {
    color: #f05454;
    border: 1px solid lightblue;
    border-radius: 5px !important;
    overflow: hidden;
    max-width: 100%;

    &:hover {
        color: white !important;
        background-color: #f05454 !important;
    }
}



.input {
    border: 0;
    border-top: 1px solid #f05454;
    font-size: 16px;
    outline: none;
    padding: 16px 52px 16px 10px;
    width: 100%;
    background-color: white;
}

.send-button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    fill: #f05454;
    opacity: 1;
    outline: none !important;
    padding: 15px;
    position: absolute;
    right: 0;
}

.right-user-icon,
.left-user-icon {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;

}

.left-user-icon {
    justify-content: start !important;
}

.modal-body {
    width: 100% !important;
    height: 100% !important;
    overflow-y: auto;
    background: aliceblue;
}

.disableOption {
    cursor: none;
}


.Seleted-btn :hover {
    /* opacity: 50%; */
    background-color: aqua;
    color: #333;
    transition: 0.5s all;

}

.chat-box-scroll {
    height: 100% !important;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.message-timestamp {
    font-size: 0.7em;
    color: #999;
    margin-top: 2px;
}

.chat-box-scroll::-webkit-scrollbar {
    display: none;
}

.chat-messages {
    @media(max-width: 480px) {
        display: flex;
        justify-content: center;
        gap: 0.5rem;
        flex-wrap: wrap;

    }

    .right {
        @media(max-width: 480px) {
            width: 100%;

        }
    }

    .left {
        margin: 8px 0;

        @media(max-width: 480px) {
            width: 100%;

        }
    }
}

.chat-message.option-message {
    border-radius: 4px;
    margin: 5px;
    display: initial;
    width: 50%;

    @media (max-width: 480px) {
        display: inline-block;
        margin: 0;
        padding: 0;
        width: auto;
    }
}

.message-text.option-message {
    font-weight: bold;
    color: #333;
}

/* .typingbox{
    color: black;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
    background-color:  rgb(246, 246, 246);
    border-radius: 5px;
    padding: 10px;
    width: 8%;
} */

.chat-message.right {
    text-align: right;
    margin-top: 18px;
    margin-bottom: 18px;
}

.option-ANS {
    margin: 10px 16px;
}

@keyframes dot-pulse {

    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.2);
        opacity: 0.5;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.dot {
    display: flex;
    align-items: center;
    width: 5px;
    height: 5px;
    margin: 0 1px;
    background-color: #2D2D2D !important;
    border-radius: 50%;
    animation: dot-pulse 1.5s infinite;
    margin-top: 13px !important;
}

.dot-loader {
    color: #2D2D2D;
    display: flex;
    gap: 3px;
    font-size: 14.3px;
}

.dot-loader p {
    margin: 0;
}

.dot-loader .dot:nth-child(2) {
    animation-delay: 0.3s;
}

.dot-loader .dot:nth-child(3) {
    animation-delay: 0.6s;
}

.Imagesize {
    width: 100%;
    height: 450px;
    padding: 20px 0;

    @media (max-width: 1440px) {
        height: 500px;
    }
    @media (max-width: 1200px) {
        height: 380px;
    }
    @media (max-width: 771px) {
        height: auto;
    }
}
.Title-text{
    font-size: 16px;

}
.LinkClass > a {
    color:#f05454;
}